<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <meta charset="utf-8">
    <title>Sinatra_first</title>
  </head>
  <body>

    <header>
      <h1>Our contacts</h1>
    </header>

    <address class="contacts">
      Moscow 119421, phone: 1112222
    </address>

    <br>
    <br>

    <nav>
      <a href="/">Back to homepage</a>
    </nav>

  </body>
</html>
