<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="views/css/style.css">
    <meta charset="utf-8">
    <title>Sinatra_first</title>
  </head>
  <body>

    <header>
      <h1>Hi</h1>
    </header>

    <form class="form" action="/" method="post">

      <label for="login">Your login:</label><br>
      <input id="login" type="text" name="login"><br>

      <label for="password">Your password:</label><br>
      <input id="password" type="password" name="password"><br><br>

      <button type="submit" name="send" value="submit">Sign in</button><br><br>

    </form>

    <nav>
      <a href="/contacts">Contacts</a>
    </nav>
    <br>

    <hr><br>
    <p>Your typed login: <%= @login %> </p>
    <p>Your typed password: <%= @password %> </p>

  </body>
</html>
